<div class="p-6">
  <genesis-data-table
    #table
    [title]="'labels.clients' | transloco"
    [lazy]="false"
    [editable]="true"
    loadPath="Client"
    deletePath="Client"
    updateKey="clientId"
    dataKey="clientId"
    [pageSize]="20"
    [pageSizeOptions]="[10, 20, 30]"
    [showCreateButton]="true"
    [columns]="columns"
    (createClick)="create()">

    <ng-template gdtCell="clientId" let-row>
      <a [routerLink]="'detail/' + row.clientId">
        <span class="flex font-bold">{{ row.clientId }}</span>
      </a>
    </ng-template>

    <ng-template gdtCell="clientName" let-row>
      <a [routerLink]="'detail/' + row.clientId">
        <span class="flex font-bold">{{ row.clientName }}</span>
      </a>
    </ng-template>

    <ng-template gdtCell="$actions" let-row>
      <p-button icon="pi pi-trash" severity="danger" [text]="true" [rounded]="true" (onClick)="table.deleteRow(row)" />
    </ng-template>
  </genesis-data-table>
</div>
