<div class="p-6">
  <genesis-data-table
    #grid
    [title]="'labels.invoices' | transloco"
    loadPath="OrganizationPayment/GetInvoices"
    [columns]="columns"
    [editable]="true"
    updatePath="OrganizationPayment/UpdateInvoicePayment"
    updateKey="id"
    [editorTitle]="'labels.invoice' | transloco"
    editorWidth="640px"
    [pageSize]="20">

    <ng-template gdtCell="$toolbarEnd">
      <p-button icon="pi pi-refresh" [text]="true" [rounded]="true" (onClick)="onRefresh()" />
      <p-button
        icon="pi pi-send"
        [label]="'labels.send-email' | transloco"
        [disabled]="selectedItems.length === 0"
        (onClick)="openSendEmailPopup()" />
      @if (selectedItems.length > 0) {
        <p-button
          icon="pi pi-times"
          severity="secondary"
          [label]="'labels.clear-selection' | transloco"
          (onClick)="clearSelection()" />
      }
    </ng-template>

    <ng-template gdtCell="$actions" let-row>
      <div class="flex gap-1">
        <p-button
          [icon]="isSelected(row) ? 'pi pi-check-circle' : 'pi pi-circle'"
          [text]="true"
          [rounded]="true"
          (onClick)="toggleSelection(row)" />
        <p-button icon="pi pi-pencil" [text]="true" [rounded]="true" (onClick)="grid.editRow(row)" />
      </div>
    </ng-template>

    <ng-template gdtCell="$editor" let-row>
      <div class="grid pt-2">
        <div class="col-12 md:col-4">
          <p-floatlabel>
            <p-inputnumber inputId="unitPrice" [(ngModel)]="row.unitPrice" [min]="0" [showButtons]="true" class="w-full" />
            <label for="unitPrice">{{ 'labels.unit-price' | transloco }}</label>
          </p-floatlabel>
        </div>
        <div class="col-12 md:col-4">
          <p-floatlabel>
            <p-inputnumber inputId="totalAmount" [(ngModel)]="row.totalAmount" [min]="0" [showButtons]="true" class="w-full" />
            <label for="totalAmount">{{ 'labels.total-amount' | transloco }}</label>
          </p-floatlabel>
        </div>
        <div class="col-12 md:col-4">
          <p-floatlabel>
            <p-select inputId="currency" [(ngModel)]="row.currency" [options]="currenciesDataSoruce"
              appendTo="body" class="w-full" />
            <label for="currency">{{ 'labels.currency' | transloco }}</label>
          </p-floatlabel>
        </div>
        <div class="col-12 md:col-8">
          <p-floatlabel>
            <input pInputText id="invoiceNumber" [(ngModel)]="row.invoiceNumber" class="w-full" />
            <label for="invoiceNumber">{{ 'labels.invoice-number' | transloco }}</label>
          </p-floatlabel>
        </div>
        <div class="col-12 md:col-4 flex align-items-center gap-2 pt-3">
          <p-checkbox [(ngModel)]="row.isPaid" [binary]="true" inputId="isPaid" />
          <label for="isPaid">{{ 'labels.is-paid' | transloco }}</label>
        </div>
      </div>
    </ng-template>
  </genesis-data-table>
</div>

<p-dialog
  [(visible)]="showSendEmailForm"
  [header]="'labels.add-guest' | transloco"
  [modal]="true"
  [style]="{ width: '1200px', height: '680px' }"
  [draggable]="false"
  [resizable]="true"
  (onHide)="closePopupForm()">
  <invoice-temp></invoice-temp>
  <ng-template pTemplate="footer">
    <p-button [label]="'labels.add' | transloco" icon="pi pi-plus" (onClick)="sendEmail()" />
  </ng-template>
</p-dialog>
