<div class="p-6">
    <dx-data-grid id="gridContainer" 
    [dataSource]="dataSource"
    [remoteOperations]="true"
    [showColumnLines]="false"
    [showBorders]="true"
    [showRowLines]="true"
    [rowAlternationEnabled]="true"
    [hoverStateEnabled]="true"
    [allowColumnResizing]="false"
    [columnHidingEnabled]="false"
    (onRowUpdating)="onRowUpdating($event)"
    (onSelectionChanged)="selectionChangedHandler($event)">

      <dxo-selection [showCheckBoxesMode]="'onClick'" mode="single"></dxo-selection>
      <dxo-search-panel [visible]="true" [placeholder]="'labels.search' | transloco"></dxo-search-panel>
      <dxo-filter-row [visible]="true"></dxo-filter-row>
      <dxo-group-panel [visible]="false"></dxo-group-panel>
  
      <dxo-toolbar>
          <dxi-item location="before">
            <div *dxTemplate>
              <div class="text-2xl tracking-tight">
                {{ 'labels.invoices' | transloco }}
              </div>
            </div>
          </dxi-item>
          <dxi-item location="after" locateInMenu="never" widget="dxButton" [options]="refreshButtonOptions"></dxi-item>
          <dxi-item locateInMenu="auto" location="after" widget="dxButton" [disabled]="!(selectedItems.length > 0)" [options]="{
                    icon: 'save',
                    text: ('labels.send-email' | transloco),
                    onClick: openSendEmailPopup
                }">
          </dxi-item>
          <dxi-item locateInMenu="auto" location="after" widget="dxButton" [visible]="selectedItems.length > 0" [options]="{
                    icon: 'clear',
                    text: ('labels.clear-selection' | transloco),
                    onClick: clearSelection
                }">
          </dxi-item>
          <dxi-item name="addRowButton" locateInMenu="auto"></dxi-item>
          <dxi-item name="exportButton" locateInMenu="auto"></dxi-item>
          <dxi-item name="searchPanel" locateInMenu="auto"></dxi-item>
        </dxo-toolbar>
        
      <dxo-editing 
        mode="popup"
        [allowUpdating]="true"
        [allowDeleting]="true"
        [useIcons]="true">
        <dxo-popup
            [title]="'labels.invoice' | transloco"
            [showTitle]="true"
            [width]="640"
            [height]="360"
            [resizeEnabled]="true"
            [position]="{ my: 'center', at: 'center'}">
        </dxo-popup>
        <dxo-form [colCount]="1" labelLocation="top" labelMode="floating">
            <dxi-item itemType="group" [colCount]="3">
                <dxi-item dataField="unitPrice" editorType="dxNumberBox" [editorOptions]="{ min: 0, showSpinButtons: true, showClearButton: true }">
                    <dxi-validation-rule type="required" [message]="'messages.required' | transloco"></dxi-validation-rule>
                </dxi-item>
                <dxi-item dataField="totalAmount" editorType="dxNumberBox" [editorOptions]="{ min: 0, showSpinButtons: true, showClearButton: true }">
                    <dxi-validation-rule type="required" [message]="'messages.required' | transloco"></dxi-validation-rule>
                </dxi-item>
                <dxi-item dataField="currency">
                    <dxi-validation-rule type="required" [message]="'messages.required' | transloco"></dxi-validation-rule>
                </dxi-item>
            </dxi-item>
            <dxi-item itemType="group" [colCount]="3">
                <dxi-item dataField="invoiceNumber" [colSpan]="2"></dxi-item>
                <dxi-item dataField="isPaid" [colSpan]="1"></dxi-item>
            </dxi-item>
        </dxo-form>
    </dxo-editing>
  
    <dxi-column dataField="app.name" dataType="string" [caption]="'labels.app' | transloco"
        [allowEditing]="false" 
        [allowSearch]="false" 
        [allowFiltering]="false"
        [allowReordering]="false"
        [allowSorting]="false"></dxi-column>
    <dxi-column dataField="organization.name" dataType="string" [caption]="'labels.organization' | transloco"></dxi-column>
    <dxi-column dataField="paymentDate" dataType="date" format="dd.MM.yyyy"></dxi-column>
    <dxi-column dataField="paidDate" dataType="date" format="dd.MM.yyyy"></dxi-column>
    <dxi-column dataField="unitPrice" dataType="number"></dxi-column>
    <dxi-column dataField="totalAmount" dataType="number"></dxi-column>
    <dxi-column dataField="currency" dataType="string" [allowGrouping]="false" [ariaExpanded]="false">
        <dxo-lookup [dataSource]="currenciesDataSoruce"></dxo-lookup>
    </dxi-column>
    <dxi-column dataField="invoiceNumber" dataType="string"></dxi-column>
    <dxi-column dataField="isPaid" dataType="boolean"></dxi-column>

    <dxo-paging [pageSize]="20"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true" [showInfo]="true" [allowedPageSizes]="[10, 20, 30]"></dxo-pager>
    </dx-data-grid>
  </div>

  <dx-popup
    class="popup"
    [animation]="{ show: { type: 'fade' } }"
    [resizeEnabled]="true"
    [position]="{ my: 'center', at: 'center', of: 'window' }"
    [width]="1200"
    [height]="680"
    [visible]="showSendEmailForm"
    (onHiding)="closePopupForm()">
    <dxi-toolbar-item text="{{ 'labels.add-guest' | transloco }}"location="before"></dxi-toolbar-item>
    <div *dxTemplate="let data of 'content'" genesisPerfectScrollbar>
        <invoice-temp></invoice-temp>
    </div>

    <dxi-toolbar-item toolbar="bottom" widget="dxButton" location="after" [options]="{
            text: 'labels.add' | transloco,
            icon: 'plus',
            type: 'default',
            locateInMenu: 'always',
            useSubmitBehavior: true,
            onClick: sendEmail,
        }"
    >
    </dxi-toolbar-item>
</dx-popup>