<div class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div class="bg-card">
        <div class="flex flex-col w-full max-w-screen-xl mx-auto px-6 sm:px-8">
            <div class="flex flex-col sm:flex-row flex-auto sm:items-center min-w-0 my-8 sm:my-12">
                <div class="flex flex-auto items-center min-w-0">
                    <h2 class="text-2xl md:text-5xl font-semibold tracking-tight leading-7 md:leading-snug truncate">Dashboard</h2>
                </div>
            </div>
        </div>
    </div>
    
     <!-- Main -->
    <div class="flex-auto border-t -mt-px pt-4 sm:pt-6">
        <div class="w-full max-w-screen-xl mx-auto">
        <h1>fkakfalfkk</h1>
        </div>
    </div>
</div>