<div class="p-6">
  <genesis-data-table
    [title]="'labels.api-resources' | transloco"
    [lazy]="false"
    [editable]="true"
    loadPath="ApiResource"
    insertPath="ApiResource"
    deletePath="ApiResource"
    updateKey="name"
    [editorTitle]="'labels.api-resource' | transloco"
    [pageSize]="20"
    [columns]="columns"
    [newRowDefaults]="newRowDefaults">

    <ng-template gdtCell="scopes" let-row>
      {{ (row.scopes || []).join(', ') }}
    </ng-template>

    <ng-template gdtCell="$editor" let-row>
      <div class="flex flex-col gap-4 pt-2">
        <p-floatlabel>
          <input pInputText id="secret" [(ngModel)]="row.secret" [disabled]="true" class="w-full" />
          <label for="secret">{{ 'labels.secret' | transloco }}</label>
        </p-floatlabel>

        <genesis-alert [type]="'warning'">
          <span genesisAlertTitle>{{ 'labels.warning' | transloco }}</span>
          {{ 'messages.secret-warning' | transloco }}
        </genesis-alert>

        <p-floatlabel>
          <input pInputText id="name" [(ngModel)]="row.name"
            [placeholder]="'descriptions.name-placeholder' | transloco" class="w-full" />
          <label for="name">{{ 'labels.name' | transloco }}</label>
        </p-floatlabel>

        <p-floatlabel>
          <input pInputText id="displayName" [(ngModel)]="row.displayName" class="w-full" />
          <label for="displayName">{{ 'labels.display-name' | transloco }}</label>
        </p-floatlabel>

        <p-floatlabel>
          <p-multiselect appendTo="body" inputId="scopes" [(ngModel)]="row.scopes" [options]="scopesDataSource"
            optionLabel="name" optionValue="name" [filter]="true" [showClear]="true" class="w-full" />
          <label for="scopes">{{ 'labels.scopes' | transloco }}</label>
        </p-floatlabel>

        <p-floatlabel>
          <input pInputText id="description" [(ngModel)]="row.description" class="w-full" />
          <label for="description">{{ 'labels.description' | transloco }}</label>
        </p-floatlabel>

        <div class="flex gap-4">
          <div class="flex align-items-center gap-2">
            <p-checkbox [(ngModel)]="row.enabled" [binary]="true" inputId="enabled" />
            <label for="enabled">{{ 'labels.enabled' | transloco }}</label>
          </div>
          <div class="flex align-items-center gap-2">
            <p-checkbox [(ngModel)]="row.nonEditable" [binary]="true" inputId="nonEditable" />
            <label for="nonEditable">{{ 'labels.non-editable' | transloco }}</label>
          </div>
        </div>
      </div>
    </ng-template>
  </genesis-data-table>
</div>
