<genesis-data-table class="p-6 w-full"
    [title]="'labels.configurations' | transloco"
    [lazy]="false"
    [editable]="true"
    loadPath="Configuration"
    insertPath="Configuration"
    updatePath="Configuration"
    deletePath="Configuration"
    updateKey="id"
    [editorTitle]="'labels.configurations' | transloco"
    editorWidth="640px"
    [pageSize]="20"
    [pageSizeOptions]="[10, 20, 30]"
    [columns]="columns">

    <ng-template gdtCell="$editor" let-row>
      <div class="flex flex-col gap-4 pt-2">
        <div class="grid grid-cols-2 gap-4">
          <p-floatlabel>
            <p-select appendTo="body" inputId="organizationId" [(ngModel)]="row.organizationId"
              [options]="organizations" optionLabel="name" optionValue="id" [filter]="true" filterBy="name,code"
              [showClear]="true" class="w-full" />
            <label for="organizationId">{{ 'labels.organization' | transloco }}</label>
          </p-floatlabel>

          <p-floatlabel>
            <p-select appendTo="body" inputId="integrationId" [(ngModel)]="row.integrationId"
              [options]="integrations" optionLabel="name" optionValue="id" [filter]="true" filterBy="name,code"
              [showClear]="true" class="w-full" />
            <label for="integrationId">{{ 'labels.integration' | transloco }}</label>
          </p-floatlabel>
        </div>

        <p-floatlabel>
          <input pInputText id="key" [(ngModel)]="row.key" class="w-full" />
          <label for="key">{{ 'labels.key' | transloco }}</label>
        </p-floatlabel>

        <p-floatlabel>
          <input pInputText id="value" [(ngModel)]="row.value" class="w-full" />
          <label for="value">{{ 'labels.value' | transloco }}</label>
        </p-floatlabel>

        <div class="flex align-items-center gap-2">
          <p-checkbox [(ngModel)]="row.isDefault" [binary]="true" inputId="isDefault" />
          <label for="isDefault">{{ 'labels.is-default' | transloco }}</label>
        </div>
      </div>
    </ng-template>
  </genesis-data-table>