<genesis-data-table
  [title]="'labels.sub-apps' | transloco"
  [lazy]="false"
  [editable]="true"
  loadPath="Apps"
  insertPath="Apps"
  updatePath="Apps"
  deletePath="Apps"
  updateKey="id"
  [extraParams]="{ parentId: appId }"
  [editorTitle]="'labels.app' | transloco"
  editorWidth="600px"
  [pageSize]="10"
  [columns]="columns"
  [newRowDefaults]="{ parentId: appId }">

  <ng-template gdtCell="$editor" let-row>
    <div class="flex flex-col gap-4 pt-2">
      <div class="grid grid-cols-2 gap-4">
        <p-floatlabel>
          <input pInputText id="code" [(ngModel)]="row.code" [disabled]="!!row.id" class="w-full" />
          <label for="code">{{ 'labels.code' | transloco }}</label>
        </p-floatlabel>
        <p-floatlabel>
          <input pInputText id="name" [(ngModel)]="row.name" class="w-full" />
          <label for="name">{{ 'labels.name' | transloco }}</label>
        </p-floatlabel>
      </div>

      <p-floatlabel>
        <input pInputText id="description" [(ngModel)]="row.description" class="w-full" />
        <label for="description">{{ 'labels.description' | transloco }}</label>
      </p-floatlabel>

      <p-floatlabel>
        <input pInputText id="link" [(ngModel)]="row.link" class="w-full" />
        <label for="link">{{ 'labels.link' | transloco }}</label>
      </p-floatlabel>

      <p-floatlabel>
        <input pInputText id="icon" [(ngModel)]="row.icon" class="w-full" />
        <label for="icon">{{ 'labels.icon' | transloco }}</label>
      </p-floatlabel>

      <div class="grid grid-cols-2 gap-4">
        <p-floatlabel>
          <p-inputnumber inputId="price" [(ngModel)]="row.price" [showButtons]="true" class="w-full" />
          <label for="price">{{ 'labels.price' | transloco }}</label>
        </p-floatlabel>
        <p-floatlabel>
          <p-select appendTo="body" inputId="currency" [(ngModel)]="row.currency" [options]="currencies"
            [showClear]="true" [filter]="true" class="w-full" />
          <label for="currency">{{ 'labels.currency' | transloco }}</label>
        </p-floatlabel>
      </div>

      <div class="grid grid-cols-2 gap-4">
        <p-floatlabel>
          <p-select appendTo="body" inputId="appType" [(ngModel)]="row.appType" [options]="appTypes"
            [filter]="true" class="w-full" />
          <label for="appType">{{ 'labels.app-type' | transloco }}</label>
        </p-floatlabel>
        <p-floatlabel>
          <p-select appendTo="body" inputId="presentationType" [(ngModel)]="row.presentationType"
            [options]="presentationTypes" optionLabel="name" optionValue="id" [filter]="true" class="w-full" />
          <label for="presentationType">{{ 'labels.presentation-type' | transloco }}</label>
        </p-floatlabel>
      </div>

      <div class="flex align-items-center gap-2">
        <p-checkbox [(ngModel)]="row.noShow" [binary]="true" inputId="noShow" />
        <label for="noShow">{{ 'labels.no-show' | transloco }}</label>
      </div>
    </div>
  </ng-template>
</genesis-data-table>
