 <dx-data-grid id="gridContainer" 
    [dataSource]="dataSource"
    [remoteOperations]="false"
    [showColumnLines]="false"
    [showBorders]="true"
    [showRowLines]="true"
    [rowAlternationEnabled]="true"
    [hoverStateEnabled]="true"
    [allowColumnResizing]="true"
    [columnHidingEnabled]="true"
    (onEditingStart)="onEditingStart($event)"
    (onInitNewRow)="onInitNewRow($event)"
    (onRowUpdating)="onRowUpdating($event)">
  
      <dxo-search-panel [visible]="true" [placeholder]="'labels.search' | transloco"></dxo-search-panel>
      <dxo-filter-row [visible]="true"></dxo-filter-row>
      <dxo-group-panel [visible]="false"></dxo-group-panel>
  
      <dxo-toolbar>
          <dxi-item location="before">
            <div *dxTemplate>
              <div class="text-2xl tracking-tight">
                {{ 'labels.sub-apps' | transloco }}
              </div>
            </div>
          </dxi-item>
          <dxi-item name="addRowButton" locateInMenu="auto"></dxi-item>
          <dxi-item name="exportButton" locateInMenu="auto"></dxi-item>
          <dxi-item name="searchPanel" locateInMenu="auto"></dxi-item>
        </dxo-toolbar>
        
      <dxo-editing 
        mode="popup"
        [allowUpdating]="true"
        [allowAdding]="true"
        [allowDeleting]="false"
        [useIcons]="true">
        <dxo-popup
            [title]="'labels.app' | transloco"
            [showTitle]="true"
            [width]="600"
            [height]="540"
            [resizeEnabled]="true"
            [position]="{ my: 'center', at: 'center'}">
        </dxo-popup>
        <dxo-form [colCount]="1" labelLocation="top" labelMode="floating">
            <dxi-item itemType="group" [colCount]="2">
              <dxi-item dataField="code" [editorOptions]="{
                  disabled: isUpdate
                }">
                <dxi-validation-rule type="required" [message]="'messages.required' | transloco"></dxi-validation-rule>
                <dxi-validation-rule type="async" [message]="'messages.code-exists' | transloco"
                  [validationCallback]="validationCallback"></dxi-validation-rule>
              </dxi-item>
            
              <dxi-item dataField="name">
                <dxi-validation-rule type="required" [message]="'messages.required' | transloco"></dxi-validation-rule>
              </dxi-item>
            </dxi-item>
            <dxi-item dataField="description"></dxi-item>
            <dxi-item dataField="link"></dxi-item>
            
            <dxi-item dataField="icon"></dxi-item>
            <dxi-item itemType="group" [colCount]="2">
              <dxi-item dataField="price" editorType="dxNumberBox" [editorOptions]="{ showSpinButtons: true, showClearButton: true }">
            </dxi-item>

            <dxi-item dataField="currency" editorType="dxSelectBox" [editorOptions]="{
                                                              dataSource: currenciesDataSoruce,
                                                              showClearButton: true
                                                              }">
            </dxi-item>

              <dxi-item dataField="appType"></dxi-item>
              <dxi-item dataField="presentationType"></dxi-item>
              <dxi-item dataField="noShow"></dxi-item>
            </dxi-item>
        </dxo-form>
    </dxo-editing>
  
      <dxi-column dataField="name" dataType="string" cellTemplate="nameTemp"></dxi-column>
      <dxi-column dataField="code" dataType="string" cellTemplate="nameTemp"></dxi-column>
      <dxi-column dataField="icon" dataType="string" [visible]="false"></dxi-column>
      <dxi-column dataField="link" dataType="string" [visible]="false"></dxi-column>
      <dxi-column dataField="presentationType" dataType="string">
        <dxo-lookup [dataSource]="presentationTypes" valueExpr="id" displayExpr="name"></dxo-lookup>
      </dxi-column>
      <dxi-column dataField="appType" dataType="string">
        <dxo-lookup [dataSource]="appTypes"></dxo-lookup>
      </dxi-column>
      <dxi-column dataField="noShow" dataType="boolean"></dxi-column>
      <dxi-column dataField="description" dataType="string" cellTemplate="nameTemp"></dxi-column>
      <dxi-column dataField="parentId" dataType="string" [visible]="false"></dxi-column>
      <dxi-column dataField="price" dataType="number" [visible]="false"></dxi-column>
      <dxi-column dataField="currency" dataType="string" [visible]="false"></dxi-column>

      <div class="flex-auto" *dxTemplate="let d of 'nameTemp'">
        <a [routerLink]="'detail/'+d.data.id">
            <span class="flex font-bold">
                {{d.value}}
            </span>
        </a>
    </div>

      <dxo-paging [pageSize]="10"></dxo-paging>
      <dxo-pager [showPageSizeSelector]="true" [showInfo]="true" [allowedPageSizes]="[10, 20, 30]"></dxo-pager>
    </dx-data-grid>