<div class="p-6">
  <genesis-data-table
    [title]="'labels.api-scopes' | transloco"
    [lazy]="false"
    [editable]="true"
    loadPath="ApiScope"
    insertPath="ApiScope"
    deletePath="ApiScope"
    updateKey="name"
    [editorTitle]="'labels.api-scope' | transloco"
    [pageSize]="20"
    [columns]="columns"
    [newRowDefaults]="{ required: false, emphasize: false, showInDiscoveryDocument: false }">

    <ng-template gdtCell="$editor" let-row>
      <div class="flex flex-col gap-4 pt-2">
        <p-floatlabel>
          <input pInputText id="name" [(ngModel)]="row.name" class="w-full" />
          <label for="name">{{ 'labels.name' | transloco }}</label>
        </p-floatlabel>

        <p-floatlabel>
          <input pInputText id="displayName" [(ngModel)]="row.displayName" class="w-full" />
          <label for="displayName">{{ 'labels.display-name' | transloco }}</label>
        </p-floatlabel>

        <p-floatlabel>
          <input pInputText id="description" [(ngModel)]="row.description" class="w-full" />
          <label for="description">{{ 'labels.description' | transloco }}</label>
        </p-floatlabel>

        <div class="flex flex-col gap-3">
          <div class="flex align-items-center gap-2">
            <p-checkbox [(ngModel)]="row.required" [binary]="true" inputId="required" />
            <label for="required">{{ 'labels.required' | transloco }}</label>
          </div>
          <div class="flex align-items-center gap-2">
            <p-checkbox [(ngModel)]="row.emphasize" [binary]="true" inputId="emphasize" />
            <label for="emphasize">{{ 'labels.emphasize' | transloco }}</label>
          </div>
          <div class="flex align-items-center gap-2">
            <p-checkbox [(ngModel)]="row.showInDiscoveryDocument" [binary]="true" inputId="showInDiscoveryDocument" />
            <label for="showInDiscoveryDocument">{{ 'labels.show-in-discovery-document' | transloco }}</label>
          </div>
        </div>
      </div>
    </ng-template>
  </genesis-data-table>
</div>
