<div class="bg-card">
  <div class="flex flex-col w-full max-w-screen-xl mx-auto px-6 sm:px-8">
    <div class="flex flex-col sm:flex-row flex-auto sm:items-center min-w-0 my-4 sm:my-8">
      <dx-toolbar>
        <dxi-item location="after" widget="dxButton" [options]="btnTourTransferPlan"></dxi-item>
        <dxi-item location="after" widget="dxButton" [options]="btnReservation"></dxi-item>
        <dxi-item location="after" widget="dxButton" [options]="btnBooking"></dxi-item>
      </dx-toolbar>
    </div>
  </div>
</div>