<div class="w-full max-w-3xl">
    <form [formGroup]="form" class="mt-2">
        <div class="grid">
            <div class="col-12">
                <p-floatlabel>
                    <input pInputText id="officialName" formControlName="officialName" class="w-full" />
                    <label for="officialName">{{ 'labels.official-name' | transloco }}</label>
                </p-floatlabel>
                @if (form.get('officialName')?.invalid && form.get('officialName')?.touched) {
                <small class="p-error">{{ 'messages.required' | transloco }}</small>
                }
            </div>

            <div class="col-12">
                <p-floatlabel>
                    <input pInputText id="officialAddress" formControlName="officialAddress" class="w-full" />
                    <label for="officialAddress">{{ 'labels.official-address' | transloco }}</label>
                </p-floatlabel>
                @if (form.get('officialAddress')?.invalid && form.get('officialAddress')?.touched) {
                <small class="p-error">{{ 'messages.required' | transloco }}</small>
                }
            </div>

            <div class="col-12 md:col-6">
                <p-floatlabel>
                    <input pInputText id="taxNumber" formControlName="taxNumber" class="w-full" />
                    <label for="taxNumber">{{ 'labels.tax-number' | transloco }}</label>
                </p-floatlabel>
                @if (form.get('taxNumber')?.invalid && form.get('taxNumber')?.touched) {
                <small class="p-error">{{ 'messages.required' | transloco }}</small>
                }
            </div>

            <div class="col-12 md:col-6">
                <p-floatlabel>
                    <input pInputText id="taxOffice" formControlName="taxOffice" class="w-full" />
                    <label for="taxOffice">{{ 'labels.tax-office' | transloco }}</label>
                </p-floatlabel>
            </div>
        </div>
    </form>

    <div class="flex justify-content-between mt-4">
        <p-button [label]="'labels.cancel' | transloco" icon="pi pi-times" severity="secondary"
            (onClick)="cancel()" />
        <p-button [label]="'labels.save' | transloco" icon="pi pi-save" (onClick)="save()" />
    </div>
</div>
