<genesis-data-table
    class="p-6 w-full"
    [title]="'labels.navigations' | transloco"
    [lazy]="false"
    [editable]="true"
    [loadPath]="loadPath"
    insertPath="Navigation"
    updatePath="Navigation"
    deletePath="Navigation"
    updateKey="id"
    [editorTitle]="'labels.navigation-management' | transloco"
    editorWidth="600px"
    [pageSize]="20"
    [columns]="columns"
    [newRowDefaults]="{ appsId: appId }">

    <ng-template gdtCell="$editor" let-row>
      <div class="flex flex-col gap-4 pt-2">
        <p-floatlabel>
          <input pInputText id="title" [(ngModel)]="row.title" class="w-full" />
          <label for="title">{{ 'labels.title' | transloco }}</label>
        </p-floatlabel>

        <p-floatlabel>
          <input pInputText id="subtitle" [(ngModel)]="row.subtitle" class="w-full" />
          <label for="subtitle">{{ 'labels.subtitle' | transloco }}</label>
        </p-floatlabel>

        <div class="grid grid-cols-2 gap-4">
          <p-floatlabel>
            <p-select appendTo="body" inputId="type" [(ngModel)]="row.type" [options]="navigationTypes"
              [filter]="true" class="w-full" />
            <label for="type">{{ 'labels.type' | transloco }}</label>
          </p-floatlabel>
          <p-floatlabel>
            <input pInputText id="icon" [(ngModel)]="row.icon" class="w-full" />
            <label for="icon">{{ 'labels.icon' | transloco }}</label>
          </p-floatlabel>
        </div>

        <div class="flex gap-4">
          <div class="flex align-items-center gap-2">
            <p-checkbox [(ngModel)]="row.active" [binary]="true" inputId="active" />
            <label for="active">{{ 'labels.active' | transloco }}</label>
          </div>
          <div class="flex align-items-center gap-2">
            <p-checkbox [(ngModel)]="row.disabled" [binary]="true" inputId="disabled" />
            <label for="disabled">{{ 'labels.disabled' | transloco }}</label>
          </div>
        </div>

        <p-floatlabel>
          <p-multiselect appendTo="body" inputId="roles" [(ngModel)]="row.roles" [options]="roles"
            optionLabel="name" optionValue="id" [filter]="true" [showClear]="true" class="w-full" />
          <label for="roles">{{ 'labels.roles' | transloco }}</label>
        </p-floatlabel>

        <p-floatlabel>
          <input pInputText id="link" [(ngModel)]="row.link" class="w-full" />
          <label for="link">{{ 'labels.link' | transloco }}</label>
        </p-floatlabel>
      </div>
    </ng-template>
  </genesis-data-table>